<header>
	<div class="row">
		<div class="col-md-12">
			<div class="navbar navbar-inverse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ path('ecoledemagie_index_homepage') }}">Accueil</a></li>
					<li><a href="{{ path('ecoledemagie_desktop_homepage') }}">Desktop</a></li>
					<li><a href="{{ path('ecoledemagie_online_homepage') }}">Online</a></li>
					<li><a href="{{ path('ecoledemagie_index_homepage') }}">News</a></li>
					<li><a href="{{ path('ecoledemagie_download_homepage') }}">Download</a></li>
					<li><a href="{{ path('ecoledemagie_index_homepage') }}">Compte</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>